<div class="private-square span4 offset3 text-center">
  <h1>
  
    My Cool App Is Here :) 
    
  </h1>
  
  <br/>
  <%= link_to 'Read a story, leave a story', '#', :class => 'btn btn-warning btn-large'  %>
  

</div>