<div class="private-square span5 offset6 text-center">
  <h1>
  
    Read It 
    
  </h1>
  
  <br/>
  

</div>
<br style="clear:both;"/>
<br />
<br />
<div class="private-square span5 offset6 text-center">

  
  <%= link_to 'Write a review', '#', :class => 'btn btn-warning btn-large'  %>
  <%= link_to 'Read stories', '#', :class => 'btn btn-warning btn-large'  %>

</div>
<br style="clear:both;"/>
<br />
<div class="private-square span3 offset1 text-center">
 <h2>
   
  Popular Stories
  
  </h2>
</div>

<br style="clear:both;"/>
<h3>
  <div class="private-square span3 offset1 text-center">
    Pictures 
    <%= link_to 'Post your own', '#', :class => 'btn btn-warning btn-large'  %>
