<div class="private-square span5 offset6 text-center">
  <h1>
  
    My Cool App Is Here :) 
    
  </h1>
  
  <br/>
  

</div>
<br style="clear:both;"/>
<br />
<br />
<div class="private-square span5 offset6 text-center">

  
  <%= link_to 'Write a review', '#', :class => 'btn btn-warning btn-large'  %>
  <%= link_to 'Read stories', '#', :class => 'btn btn-warning btn-large'  %>

</div>
<br style="clear:both;"/>
<br />
<div class="private-square span5 offset1 text-center">